/* main stuff */
* { box-sizing: border-box; }
body { margin: 0px; background-color: black;}
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

body {
  /*background-image: url('https://i.redd.it/mcljmha8ufb01.jpg'); /* Static mountains */
  /*background-image: url('http://i.imgur.com/aIcON07.gif'); /* Thai Beach */
  /*background-image: url('https://i.imgur.com/vOGtsLL.gif'); /* moving mountains */
  /*background-image: url('http://i.imgur.com/ex198cK.gif'); /* forest */
  /*background-image: url('http://i.imgur.com/3ohbBuw.gif'); /* banff */
  /*background-image: url('http://i.imgur.com/5chMySU.gif'); /* misty MOUNTIANS */
  background-size: cover;
  background-position: center;
}

section {
  width: 100vw;
  height: 100vh;
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  background-color: rgba(0,0,0,0.3);
}

section div {
  width: 100%;
  text-align: center;
}

div#clock {
  height: 70vh;
  font-size: 35vh;
  font-weight: bold;
  padding-left: 3vw;
  line-height: 80vh;
}

  section div#clock .clock-small {
   font-size: 50%;
  }

div#icons {
  height: 25vh;
  font-size: 10vh;
  line-height: 25vh;
  font-weight: bold;
  padding-left: 3vw;
}

div#date{
  height: 5vh;
  font-size: 5vh;
  font-weight: bold;
  /*padding-left: 3vw;*/
  line-height: 0vh;
}

.small {
  margin-right: 50px;
}
